@font-face {
  font-family: "iconfont"; /* Project id 3849278 */
  src: url('iconfont.woff2?t=1672738747726') format('woff2'),
       url('iconfont.woff?t=1672738747726') format('woff'),
       url('iconfont.ttf?t=1672738747726') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e751";
}

.icon-liebiao:before {
  content: "\ec6b";
}

.icon-zhuangtai:before {
  content: "\e653";
}

.icon-a-zujianguanli:before {
  content: "\e60e";
}

